.App {
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('/public/images/urcampus.jpg');
  transition: background-image 0.5s ease;
  position: fixed; 
  z-index: -1; 

}
.backgroundImage {
  position: fixed; 
  width: 100%;
  height: 992px;
  z-index: -1; 
  background-size: cover;
  background-position: center;
}
.queryBox{
  padding: 50px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
}

.inputBox {
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.inputText{
  padding: 20px;
  border-radius: 5px;
  display: flexbox;
  font-size: 18px;
  width: 300px;
  margin-bottom: 20px;

}

.goButton{
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  width: 100px;
  border-radius: 4px;
  background-color: #93b0ca;
  border: none;
  cursor: pointer;
  justify-self: center;
  margin-left: 118px;



}

